@import url("~dropzone/dist/min/basic.min.css");
@import url("~select2/dist/css/select2.min.css");
@import "../partials/google-search-helper";
@import "../variables";

.imgUploadContainer {
  height: 250px;

  label {
    margin-bottom: 10px;
  }

  .imagePreview {
    display: block;
    max-height: 220px;
    max-width: 100%;
  }
}

.display-file {
  margin-top: 20px;
}

.display-file a {
  color: black;
  font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #367fa9;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ffffff;
}

.articleStatus {
  margin-bottom: 15px;
  .draft {
    color: $brand-warning;
  }

  .published {
    color: $brand-success;
  }

  .unpublished {
    color: $brand-danger;
  }

  .scheduled {
    color: $brand-primary;
  }

  .deleted {
    color: $brand-danger;
  }
}

.newArticle {
  .box {
    opacity: 0.5;
  }
}

.purchasedArticle {
  #store-box, #publishers-box {
    opacity: 0.5;
  }
}

.publish-to-cms {
  max-width: 200px;
  text-align: center;
  margin: 30px auto 0;
}

.parentCategory {
  margin-left: 5px;
}

#map {
  width: 100%;

}

#pac-input {
  top: 10px !important;;
  border: 1px solid darkgray;
  color: black !important;
  font-family: 'Source Sans Pro';
  width: 80%

}

.collaboration-task {
  width: 100%;
}

#collaborators-list {
  li:nth-child(even) {
    background-color: rgb(194, 237, 251);
  }
  margin: 0;
  padding: 0;
  list-style: none;
  height: 200px;
  overflow-y: scroll;
  label {
    font-weight: normal;
  }
  input {
    margin: 0;
    margin-right: 5px;
    margin-top: 3px;
    float: left;

  }
}

.location-info {
  font-size: 13px;
}

.collaboration-requests {
  margin-bottom: 30px;
}

#collaborations-list {
  margin-top:10px;
  font-size:14px;
  line-height:1.1em;
  blockquote{
    font-size:14px;
    line-height:1.1em;
    margin:0;
    padding:0;
    border:0;

  }
  .collaborators{
    min-width:180px;
  }
  small {
    font-size: 11px;
    color: darkgray;
  }
}

.teaser-img {
  max-width: 300px;
  max-height: 300px;
}

.published-to-store-info {
  margin-bottom: 50px;
}