.blog-roll
{
  .header {
    font-size:12px;
    padding-bottom:5px;
    padding-top:5px;
    .fa-user{
      font-size: 18px;
      color: gray;
      padding-top:5px;
      padding-left:10px;
    }
  }
  .fa-link{
    font-size:18px;
    padding-right:5px;
  }

  .article {
    background-color:white;
  }
  .image {
    height:150px;
    background-size:cover;
  }
  .body {
    padding:5px;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    margin-bottom:10px;

  }
  h2 {
    font-size:15px;
    margin-top:5px;
    margin-bottom:5px;
  }
  p {
    font-size: 13px;

  }
}