.input-file-wrapper {
  overflow: hidden;
}

.image-preview-container {
  text-align: center;
  .selected-image-preview {
    max-height: 200px;
    max-width: 100%;
    padding: 20px 0;
  }
}

.bootstrap-tagsinput {
  width: 100%;
  input {
    width: 100%;
    margin-top: 5px;
  }
}

.box {
  .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.card {
  .card-header {
    * {
      font-size: 1.2rem;
    }
  }
}

.btn.submit {
  font-size: 1.2rem;
}
