@import "../variables";

.input-file-wrapper {
  overflow: hidden;
}

.image-preview-container {
  text-align: center;
  .selected-image-preview {
    max-height: 200px;
    max-width: 100%;
    padding: 20px 0;
  }
}

.bootstrap-tagsinput {
  width: 100%;
  input {
    width: 100%;
    margin-top: 5px;
  }
}

.box {
  .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.card {
  .card-header {
    h2, h3, .fa, .fas {
      font-size: 1.2rem;
    }
  }
}

#form-error-message {
  color: $danger;
}

#communication-resources {
  table.content {
    display: block;
    text-align: center;

    tbody {
      display: inline-block;

      #intro_text, #outro_text {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: yellow;
      }
    }
  }
}
