@import url('https://fonts.googleapis.com/css?family=Oswald');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial, Sans-Serif !important;
  color: #076ec1;
}

body {
  p {
    color: #666666;
  }
  a {
    color: #2ea3f2;
  }
}

.navbar-default {
  background-color: #fff;
  .navbar-brand {
    height: auto;
    img {
      height: 50px;
    }
  }
  .navbar-toggle {
    margin: 15px;
  }
  .navbar-collapse {
    margin-top: 10px;
    margin-bottom: 0;

    &.collapse.in, &.collapsing {
      float: unset !important;
    }
  }
}

.image-with-text-wrapper {
  height: 650px;
  background-size: cover;
  background-position: center;
  .gray-filter {
    z-index: 1000;
    background-color: black;
    opacity: 0.3;
    height: inherit;
    margin: 0 -15px;
  }
  .text {
    position: relative;
    z-index: 1001;
    margin-top: -420px;
    color: white;
    h2 {
      font-size: xx-large;
      font-weight: bold;
    }
  }
  .call-to-action {
    margin-top: 20px;
    text-align: center;
    a {
      padding: .3em 1em;
      border: 2px solid white;
      border-radius: 3px;
      background-color: transparent;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.7em;
      color: white;
      transition: all .2s;
      i {
        display: none;
        position: relative;
        left: 20px;
        bottom: 2px;
        top: 2px;
        font-size: 30px;
      }
      &:hover {
        /* padding: .3em 2em .3em .7em;*/
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid transparent;
        i {
          display: inline-block;
          transition: all 5s;
        }
      }
    }
  }
}

section {
  &:first-of-type {
    padding-top: 80px;
  }
  &:nth-child(even) {
    background-color: #f3fafe;

  }
  & {
    margin: 0 -15px;
  }
  h2 {
    text-align: center;
  }
  .content-container {
    padding: 100px 150px;
    font-size: 23px;
    font-weight: 300;
    @media screen and (max-width: 767px) {
      padding: 50px 0;
    }
  }

}

#motto {
  h2 {
    color: white;
  }
  .btn {
    margin-top: 20px;
  }
}

#questionnaire {

  background-image: url(https://images.typeform.com/images/EG4U2zJR3Yvh);
  background-size: cover;

  #questionnaire-wrapper {
    padding: 140px 150px;
  }

  .respond-questionnaire {
    font-size: 26px;
    padding: 10px 20px;
    margin-top: 40px;
  }
  .questionnaire-section-title {
    font-size: 43px;
    text-align: center;
    width: 500px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper-box {
    border: 1px solid #99aec1;
    background-color: white;
    .wrapper-title {
      background-color: #ced8e1;
      color: black;
      font-weight: 600;
      border-bottom: 1px solid #99aec1;
      text-align: center;
      padding: 10px;
      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }

}

#questionnaire-modal {
  .modal-title {
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .sv_row {
    padding: 10px 25px 20px;
    h5 {
      font-size: 18px;
      font-weight: normal;
    }
    input[type="text"], textarea {
      border: 1px solid #ccc;
      width: 100%;
      padding: 5px 10px;
      height: unset;
      &:focus {
        border-color: #999;
      }
    }
    label {
      font-weight: normal;
    }
    .sv_q_rating {
      text-align: center;
      .sv_q_rating_item {
        cursor: pointer;
        &.active {
          .sv_q_rating_item_text {
            background-color: #076ec1;
            border-radius: 50%;
            padding: 5px;
            display: inline-block;
          }
        }
        .sv_q_rating_item_text {
          padding-top: 5px;
          width: 30px;
          height: 30px;
          border: none !important;
          line-height: 1.5em;
          font-weight: bold;
          margin: 0 10px;
        }
      }
      .sv_q_rating_min_text {
        font-weight: normal;
        font-size: smaller;
        margin-right: 20px;
      }
      .sv_q_rating_max_text {
        font-weight: normal;
        font-size: smaller;
        margin-left: 20px;
      }
    }
  }
  .sv_body {
    border: none;
  }
  .sv_nav {
    text-align: center;
    padding: 30px 0;
    .sv_complete_btn, .sv_prev_btn, .sv_next_btn {
      padding: 10px 20px;
      border: none;
      background-color: #076ec1;
      color: white;
      margin: 0 5px;
      &:focus, &:hover {
        opacity: 0.8;
      }
    }
    .sv_prev_btn, .sv_next_btn {
      background-color: #67b8f9;
    }
  }
  #lang-selector {
    background-color: #c7e0ec;
    margin-top: -15px;
    padding: 15px;
    color: rgb(74, 74, 74);
    label[for="questionnaire-lang-selector"] {
      margin: 8px 0;
    }
  }
}

.divider {
  border-bottom: 1px solid gray;
  width: 35%;
  margin: auto;
}

footer {
  margin: 0 -15px;
  background-color: #99aec1;
  color: #000 !important;
  padding-top: 60px;
  padding-bottom: 10px;
  p {
    color: #000;
  }
  a {
    font-weight: bold;
    color: #000;
    &:hover, &:focus {
      color: #23527c;
    }
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

#collective-goal {

  .container {
    max-width: 840px;
  }
  padding-bottom: 50px;

  .info {
    font-size: 30px;
    padding: 33px;
  }
  .progress {
    max-width: 400px;

    background-color: fuchsia;
    margin: auto;
    .progress-bar {
      background-color: blue;
    }
  }

  .gamification-wrapper {
    .gamification-content {
      font-size: 18px;
      padding: 15px;

      .number {
        color: #004F9F;
        font-weight: bold;
        width: 100px;
        text-align: right;
        display: inline-block;
      }
    }
  }

  .progress-container {
    position: relative;
  }
  .activity-container {

    margin-top: 50px;
    .activity-content {

      height: 200px;
      max-height: 200px;
      overflow-y: auto;
      .activity-item {
        padding: 5px 15px;

        &:nth-child(even) {
          background-color: #eef1f4;
        }
      }
      .no-activity-found-msg {
        font-style: italic;
        text-align: center;
        margin-top: 80px;
        font-size: 18px;
      }
    }
  }

  .activity-title {
    margin-bottom: 10px;
  }

}

