@import "../_variables.scss";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: $landing-page-primary;
}

.row {
  background-size: cover;
  background-position: center;

  .overlay-filter {
    z-index: 1000;
    background-color: black;
    opacity: 0.5;
    height: 650px;
    top: 0;
    position: absolute;
    width: 100%;
  }
}




#project-motto-container {
  .overlay-filter {
    opacity: 0.3;
  }
}

body {
  a {
    color: $landing-page-primary;
  }
}

.featuresList {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.navbar-default {
  background-color: #fff;

  .navbar-brand {
    height: auto;

    img {
      height: 70px;
    }
  }

  .navbar-toggle {
    margin: 15px;
  }

  .navbar-collapse {
    &.collapse.in, &.collapsing {
      float: unset !important;
    }
  }
}

.motto-content {
  padding: 70px 5px;

  .frosted {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }


  h1, h2 {
    margin-bottom: 2.5rem;
    font-weight: bold;
  }

  #project-motto {
    position: relative;
    z-index: 2;

    #motto-title {
      font-weight: 600;
      margin-bottom: 0.8rem;
      font-size: 2.3rem;
    }

    @media (max-width: 991px) {
      max-width: 90%;
    }

    color: white;
  }

  #motto-subtitle {
    font-size: 1.2rem;
  }

  .call-to-action {
    text-align: center;

    a {
      padding: .3em 1em;
      border: 2px solid white;
      border-radius: 3px;
      background-color: transparent;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.7em;
      color: white;
      transition: all .2s;

      i {
        display: none;
        position: relative;
        left: 20px;
        bottom: 2px;
        top: 2px;
        font-size: 30px;
      }

      &:hover {
        /* padding: .3em 2em .3em .7em;*/
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid transparent;

        i {
          display: inline-block;
          transition: all 5s;
        }
      }
    }
  }
}

section#past-projects {
  background-color: #f3fafe;
}

section {
  &:first-of-type {
    //padding-top: 80px;
  }

  &:nth-child(even) .row {
    background-color: #f3fafe;
  }

  //& {
  //  margin: 0 -15px;
  //}
  h2 {
    text-align: center;
  }

  .content-container {
    padding: 15vh 5%;
    font-size: 20px;
  }
}

ol {
  li {
    margin-bottom: 10px;
  }
}

#about{
    .btn.btn-primary{
      color: white;
      background-color: #07F;
      padding: 12px 30px;
      font-size: 16px;
    }
}
#questionnaire-section,#collective-goal{
  background-color: #efefef;
}
#questionnaire-section{

  @include media-breakpoint-up(sm) {
    padding: 9vh 0;
  }

}
#questionnaire {

  background-size: cover;
  width: 100%;
  @include media-breakpoint-up(sm) {
    padding: 7vh 10vh;
  }
  min-height: 100px;
  .content-container{
    background-color:rgba(0,119,255,0.85);
    font-size: 20px;
    @include media-breakpoint-up(sm) {
      padding: 5vh 12vh;
    }

    color: white;
  }

  #machine-translation-indicator {
    padding-top: 30px;
  }

  .questionnaire-description {
    font-size:1.3rem;
    margin: auto;
    text-align: justify;
  }

  .respond-questionnaire {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 30px;
  }

  .questionnaire-section-title {
    font-size: 2.2rem;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .wrapper-box {
    border: 1px solid #99aec1;
    background-color: white;

    .wrapper-title {
      background-color: #ced8e1;
      color: black;
      font-weight: 600;
      border-bottom: 1px solid #99aec1;
      text-align: center;
      padding: 10px;

      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }

}

#questionnaire-modal {
  z-index: 100000;

  .modal-title {
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .sv_row {
    padding: 10px 25px 20px;

    h5 {
      font-size: 18px;
      font-weight: normal;
    }

    input[type="text"], textarea {
      border: 1px solid #ccc;
      width: 100%;
      padding: 5px 10px;
      height: unset;

      &:focus {
        border-color: #999;
      }
    }

    label {
      font-weight: normal;
    }

    .sv_q_rating {
      text-align: center;

      .sv_q_rating_item {
        cursor: pointer;

        &.active {
          .sv_q_rating_item_text {
            background-color: $landing-page-primary;
            border-radius: 50%;
            padding: 5px;
            display: inline-block;
          }
        }

        .sv_q_rating_item_text {
          padding-top: 5px;
          width: 30px;
          height: 30px;
          border: none !important;
          line-height: 1.5em;
          font-weight: bold;
          margin: 0 10px;
        }
      }

      .sv_q_rating_min_text {
        font-weight: normal;
        font-size: smaller;
        margin-right: 20px;
      }

      .sv_q_rating_max_text {
        font-weight: normal;
        font-size: smaller;
        margin-left: 20px;
      }
    }
  }

  .sv_body {
    border: none;
  }

  .sv_nav {
    text-align: center;
    padding: 30px 0;

    .sv_complete_btn, .sv_prev_btn, .sv_next_btn {
      padding: 10px 20px;
      border: none;
      background-color: $landing-page-primary;
      color: white;
      margin: 0 5px;

      &:focus, &:hover {
        opacity: 0.8;
      }
    }

    .sv_prev_btn, .sv_next_btn {
      background-color: #67b8f9;
    }
  }

  #lang-selector {
    background-color: #c7e0ec;
    margin-top: -15px;
    padding: 15px;
    color: rgb(74, 74, 74);

    label[for="questionnaire-lang-selector"] {
      margin: 8px 0;
    }
  }
}

#questionnaire-responded {
  z-index: 100000;

  .modal-title {
    font-weight: normal;
    text-align: center;
    font-size: 25px;
  }

  .modal-body {
    p {
      text-align: center;
      font-size: 20px;
    }

    .badge-container {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: -15px;
      margin-top: -15px;

      p {
        font-weight: bold;

        .level {
          font-weight: normal;
        }
      }

      img {
        height: auto;
        width: 250px;
        margin: 10px auto;
        display: block;
      }
    }
  }

  .modal-footer {
    .refresh-page {
      max-width: 100px;
      margin: auto;
    }

    .btn {
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: Avenir, Helvetica, sans-serif;
      box-sizing: border-box;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
      color: #FFF;
      display: inline-block;
      text-decoration: none;
      -webkit-text-size-adjust: none;
      background-color: $button-background-color;
      border-top: 10px solid $button-background-color;
      border-right: 18px solid $button-background-color;
      border-bottom: 10px solid $button-background-color;
      border-left: 18px solid $button-background-color;
      font-size: x-large;
    }

    .dashboard-message {
      font-family: Avenir, Helvetica, sans-serif;
      box-sizing: border-box;
      color: $button-background-color;
      font-size: toRem(22);
      line-height: 1.5em;
      margin-top: 0;
      text-align: center;
    }
  }

  .gamification-badge {
    padding-bottom: 20px;

    .badgeName {
      font-size: 200%;
      font-family: 'Open Sans', sans-serif;
    }

    .badgeLevel {
      font-size: 140%;
      font-family: 'Open Sans', sans-serif;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .badgeMessage {
      font-size: 150%;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

#questionnaire-wrapper {
  background-color: #EFEFEF;
  @include media-breakpoint-up(sm) {
    padding: 0 7vh ;
  }

}
.divider {
  border-bottom: 1px solid gray;
  width: 35%;
  margin: auto;
}

footer {
  .row {
    background-color: #99aec1;
  }

  .row:first-child {
    padding-top: 60px;
  }

  .row:last-child {
    padding-bottom: 20px;
  }

  a {
    font-weight: bold;

    &:hover, &:focus {
      color: $button-background-color;
    }
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

#collective-goal {

  .container {
    max-width: 840px;
  }

  padding-bottom: 50px;

  .info {
    font-size: 30px;
    padding: 33px;
  }

  .progress {
    max-width: 400px;

    background-color: fuchsia;
    margin: auto;

    .progress-bar {
      background-color: $landing-page-primary;
    }
  }

  .gamification-wrapper {
    .gamification-content {
      font-size: 18px;
      padding: 15px;

      .number {
        color: $landing-page-primary;
        font-weight: bold;
        width: 100px;
        text-align: right;
        display: inline-block;
      }
    }
  }

  .activity-container {

    margin-top: 50px;

    .activity-content {

      height: 200px;
      max-height: 200px;
      overflow-y: auto;

      .activity-item {
        padding: 5px 15px;

        .user-icon {
          margin-right: 5px;
          font-size: xx-large;
          vertical-align: middle;
        }

        &:nth-child(even) {
          background-color: #eef1f4;
        }
      }

      .no-activity-found-msg {
        font-style: italic;
        text-align: center;
        margin-top: 80px;
        font-size: 18px;
      }
    }
  }

  .activity-title {
    margin-bottom: 10px;
  }

}

#newsletter {
  h2 {
    font-size: 28px;
    margin-top: 100px;
  }

  .content-container {
    padding-top: 50px;

    .sign-up {
      margin-top: 50px;

      div {
        margin-bottom: 10px;
      }

      input, .btn {
        font-size: 25px;
        height: auto;
      }

      .btn {
        padding: 7px 12px;
      }
    }

    .newsletter-msg {
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px;
      display: none;

      .subscription-success-msg {
        color: $success;
        display: none;
      }

      .subscription-error-msg {
        color: $danger;
        display: none;
      }

      &.success {
        display: block;

        .subscription-success-msg {
          display: block;
        }

        .subscription-error-msg {
          display: none;
        }
      }

      &.error {
        display: block;

        .subscription-success-msg {
          display: none;
        }

        .subscription-error-msg {
          display: block;
        }
      }
    }
  }
}

.loader-wrapper {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
}

.loader-wrapper img {
  width: 10%;
  top: 40%;
  left: 45%;
  position: relative;
}


// firewords animation http://jsfiddle.net/elin/7m3bL/
.pyro-on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1049;
}

.pyro-on > .before, .pyro-on > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro-on > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
