@import url('https://fonts.googleapis.com/css?family=Oswald');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial, Sans-Serif !important;
  color: #076ec1;
}

body {
  p {
    color: #666666;
  }
  a {
    color: #2ea3f2;
  }
}

.navbar-default {
  background-color: #fff;
  .navbar-brand {
    height: auto;
    img {
      height: 50px;
    }
  }
  .navbar-toggle {
    margin: 15px;
  }
  .navbar-collapse {
    margin: 15px 0;
    &.collapse.in, &.collapsing {
      float: unset !important;
    }
  }
}

.image-with-text-wrapper {
  height: 650px;
  background-size: cover;
  background-position: center;
  .gray-filter {
    z-index: 1000;
    background-color: black;
    opacity: 0.3;
    height: inherit;
    margin: 0 -15px;
  }
  .text {
    position: relative;
    z-index: 1001;
    margin-top: -420px;
    color: white;
    h2 {
      font-size: xx-large;
      font-weight: bold;
    }
  }
  .call-to-action {
    margin-top: 20px;
    text-align: center;
    a {
      padding: .3em 1em;
      border: 2px solid white;
      border-radius: 3px;
      background-color: transparent;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.7em;
      color: white;
      transition: all .2s;
      i {
        display: none;
        position: relative;
        left: 20px;
        bottom: 2px;
        top: 2px;
        font-size: 30px;
      }
      &:hover {
        padding: .3em 2em .3em .7em;
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid transparent;
        i {
          display: inline-block;
          transition: all 5s;
        }
      }
    }
  }
}

section {
  &:first-of-type {
    padding-top: 80px;
  }
  &:nth-child(even) {
    background-color: #f3fafe;
    margin: 0 -15px;
  }
  h2 {
    text-align: center;
  }
  .content-container {
    padding: 100px 150px;
    @media screen and (max-width: 767px) {
      padding: 50px 0;
    }
  }
  p {
    font-size: 20px;
  }
}

#motto {
  h2 {
    color: white;
  }
  .btn {
    font-size: large;
    margin-top: 20px;
  }
}

.divider {
  border-bottom: 1px solid gray;
  width: 35%;
  margin: auto;
}

footer .row {
  background-color: #99aec1;
  color: #000 !important;
  padding-top: 60px;
  padding-bottom: 10px;
  p {
    color: #000;
  }
  a {
    font-weight: bold;
    color: #000;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}