@import "../variables";

.filter-btn {
  max-width: 250px;
}

.purchases-list {
  .actions-column {
    width: 250px;
  }
  .send-mail {
    img {
      height: 20px;
      margin-left:6px;
    }
  }
  .dashed-border {
    border-top: 2px dashed lightblue;
  }
  .creator, .buyer {
    .glyphicon-remove {
      display: inline-block;
      display: none;
      color: red;
    }
    .glyphicon-ok {
      display: none;
      color: $brand-success;
    }
    .payment-done {
      .glyphicon-remove {
        display: none;
      }
      .glyphicon-ok {
        display: inline-block;
      }
    }
  }
  .article-title {
    color: gray;
  }
}