@import "../variables";

.projects {
  padding-left: 0;
}

.location-btn {
  margin: 10px auto 0;
  width: 200px;
}

@media only screen and (min-width : 992px) {
  .gamification-box {
    .box-body {
      height: 300px;
      position: relative;
      padding: 20px;
    }

    .badges-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.progress-container {
  margin: 20px auto;
  float: none !important;
}

.col-main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-main:first-child {
  border-right: 1px solid #BDBDBD;
}

.gamification-badge {
  .badgeImg {
    height: 80px;
  }
}