.details-table {
  display: table;
  div {
    display: table-row;
    span {
      display: table-cell;
      &:first-child {
        font-weight: bold;
        padding-right: 20px;
      }
    }
  }
}

.location-btn {
  margin: 10px auto 0;
  width: 200px;
}

#awards {
  .badges-container {
    min-height: 250px;
    margin: 30px auto;
    a.to-do-next {
      img {
        filter: grayscale(100%);
        width: 100px;
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
    .single-badge {
      margin-bottom: 30px;
      .gamification-badge {
        max-width: 100%;
      }
    }
  }
}

.no-projects-found {
  text-align: center;
  padding: 10px;
  font-style: italic;
  background: lightgray;
}