.reselect-account-type {
  text-align: center;
  padding: 0 20px 20px 20px;
  display: none;
}

.account-type-btn {
  padding: 50px 25px;
  img {
    max-width: 50px;
  }
  &.active-selection {
    background-color: #00a7d0;
  }
}

.form-wrapper {
  display: none;
  background-color: lightgray;
  padding: 25px;
  .welcome-msg {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
  }
  button[type="submit"] {
    margin-bottom: 25px;
  }
}

.auth-links {
  text-align: center;
}