#new-lang-btn {
  width: 250px;
  margin: 50px 0 20px;
}

.languages-wrapper {
  background-color: #c7e0ec;
  padding: 20px;
  border: 1px solid #3a87ad;
  a {
    width: 200px;
    display: inline-block;
    margin: 5px !important;
  }
}

.translation-wrapper {
  border: 1px solid #3a87ad;
  border-top: none;
}