/node_modules
/public/hot
/public/dist
/public/storage
public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
storage/database_testing.sqlite
public/images/vendor
public/fonts
public/vendor
.phpunit.result.cache
!/storage/app/public/uploads/project_img/fair-eu-bg.png
!/storage/app/public/uploads/project_logos/fair-eu.png
!/storage/app/public/uploads/project_questionnaire_bg_img/bgsectionnaire.png
!/storage/app/public/uploads/project_sm_featured_img/fair-eu.png
