//@import "~datatables.net-dt/css/jquery.dataTables.min.css";

.manage-questionnaires {
  .new-questionnaire {
    width: 250px;
    margin: 0 0 45px;
  }

  .action-btn {
    margin-bottom: 7px;

    i {
      margin-right: 5px;
    }
  }

  .badge {
    font-size: 90%;
  }
}
