#questionnaire-thanks {
	.gamification-badge {
		.badgeImg {
			height: 90px;
		}
	}

	.dashboard-btn {
		font-size: 1.5rem;
	}

	#motto {
		height: 750px;

		@media (max-width: 768px) {
			height: 1050px;
		}
	}
}
