.social-share {
  .btn {
    background-color: transparent;
    width: 100%;
    i {
      margin-right: 10px;
    }
  }

  .facebook {
    color: #3B5998;
    border-color: #3B5998;
  }

  .twitter {
    color: #1DA1F2;
    border-color: #1DA1F2;
  }

  .share-success {
    margin-top: 20px;
    font-size: large;

    .close {
      color: white !important;
      opacity: 0.8;
    }
  }
}