.social-share {
	.btn {
		background-color: transparent;
		width: 100%;
		i {
			margin-right: 10px;
		}
	}

	.facebook {
		color: #3b5998;
		border-color: #3b5998;
	}

	.twitter {
		color: #000000;
		border-color: #000000;
	}

	&:not(.social-share-button).facebook,
	&:not(.social-share-button).twitter {
		@media (max-width: 1085px) {
			padding: 0.3rem;
		}
	}

	.share-success {
		margin-top: 20px;
		font-size: large;

		.close {
			color: white !important;
			opacity: 0.8;
		}
	}
}
