@import "../variables";

.badges-container {
  margin-left: auto;
  margin-right: auto;
  a.to-do-next {
    img {
      filter: grayscale(100%);
      width: 100px;
    }
    &:hover {
      img {
        filter: grayscale(0);
      }
    }
  }
  .single-badge {
    margin-bottom: 30px;
    .gamification-badge {
      max-width: 100%;
    }
  }

  .locked {
    background-color: #CECECE !important;
    opacity: 0.3;

    .badgeName {
      color: #424242;
    }
  }

  .unlocked {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
  }

  .unlocked:hover {
    box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
  }
}

.badgeContainer {
  padding-left: 1%;
  padding-right: 3%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.no-projects-found {
  text-align: center;
  padding: 10px;
  font-style: italic;
  background: lightgray;
}

.gamification-badge {
  .badgeImg {
    height: 80px;
  }
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.badgeContainer:first-child .gamification-badge {
  background-color: $indigo;
}

.badgeContainer:nth-child(2) .gamification-badge {
  background-color: $green;
}

.badgeContainer:nth-child(3) .gamification-badge {
  background-color: $red;
}

.points {
  font-weight: bold;
}

.numOfBadges {
  font-weight: bold;
}

@media only screen and (max-width : 480px) {
  .badgeContainer {
    margin-bottom: 15px;
  }
}