.gamification-badge {
  height: 300px;
  padding: 15px;
  border-radius: 10px;
  color: white;

  .badge-level {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem;

    &.badge-level-black {
      color: black;
    }

    &.badge-level-white {
      color: white;
    }
  }

  .badge-message-container {
    border-top: 1px solid white;

    &.badge-message-container-black {
      border-color: black;
    }

    &.badge-message-container-white {
      border-color: white;
    }
  }

  .badge-message {
    color: white;
    font-style: italic;
    text-align: center;
    font-size: smaller;
    margin: 0.5rem 0;
    font-weight: 400;

    &.badge-message-black {
      color: black;
    }

    &.badge-message-white {
      color: white;
    }
  }

  .badge-name {
    text-align: center;
    margin: 0.5rem 0;
    font-weight: 400;

    &.badge-name-black {
      color: black;
    }

    &.badge-name-white {
      color: white;
    }
  }
}

.badge-img-container {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
