@import "../variables";

.nextStepContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .nextStepImg {
    margin: 20px auto;
    height: 70px;
  }

  .nextStepActionBtn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 20px;
  }
}