@import "../variables";

.nextStepContainer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	.nextStepImg {
		margin: 20px auto;
		height: 86px;
	}

	.title {
		font-weight: bold;
	}

	.social-share-button {
		padding: 8px 20px;
	}

	.social-share-container {
		.title {
			font-size: large;
		}
		.social-share-button {
			font-size: medium;
		}
	}
}
