@import "../variables";

.nextStepContainer {
  height: 200px;
  margin-top: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .nextStepImg {
    margin-top: 15px;
    height: 70px;
  }

  .nextStepActionBtn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}