@import "../../variables";
@import "../../common/image-input-preview.scss";

.explanation-text {
    font-weight: normal;
    color: $gray-600;
    display: block;
    margin-left: 20px;
    line-height: 1.25;

    ul {
        list-style-type: none;
        margin: 2px 2px 3px;
        padding-left: 10px;
    }
}
