@import "../_variables.scss";

.alert-dismissable.alert-floating {
  position: absolute;
  max-width: 50%;
  z-index: 100000;
  right: 25px;
  top: 25px;
  min-width: 400px;

  * {
    color: $white;
  }
}