@import "../_variables.scss";

.btn {
  padding: 22px 30px;
  transition: all 0.2s;
  font-family: "Noto Sans Variable", sans-serif;
  border-radius: 21px;
}

.btn-primary {
  background-color: $brand-primary;
  border: none;
}

.call-to-action {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 25px 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;

  &:hover {
    box-shadow:
            0 4px 4px rgba(0, 0, 0, 0.25),
            0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: lighten($button-background-color, 10%);
  }

  &.focus,
  &:focus,
  &:focus-visible {
    outline: 4px solid black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.call-to-action.action-success {
  background-color: $success;
}