
.fa.fa-twitter{
  font-family:sans-serif;
}
.fa.fa-twitter::before{
  content:"ğ•";
  font-size:1.2em;
}

.fab.fa-twitter{
  font-family:sans-serif;
}
.fab.fa-twitter::before{
  content:"ğ•";
  font-size:1.2em;
}

.fab.fa-twitter-square{
  font-family:sans-serif;
}
.fab.fa-twitter-square::before{
  content:"ğ•";
}