@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Body
$body-bg: #ecf0f5;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #004F9F;
$brand-success: $success;
$brand-warning: $success;
$brand-danger: $danger;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$text-color: #636b6f;

//header
$header-font-color:black;
$header-background-color:white;

//navbar
$bg-color-navbar: #262626;
$color-navbar-head: #b8c7ce;

$red: $danger;
$green: $success;

$button-background-color: $brand-primary;
$button-background-color-hover: #367fa9;
$button-border-color: #2e6da4;
$link-hover-decoration: none;

