@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Body
$body-bg: #ecf0f5;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #0077FF;
$brand-success: $success;
$brand-warning: $success;
$brand-danger: $danger;
$landing-page-primary:#232323;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Open Sans", sans-serif;
$text-color: #636b6f;

//header
$header-font-color:black;
$header-background-color:white;

//navbar
$bg-color-navbar: #262626;
$color-navbar-head: #b8c7ce;
$navbar-brand-font-size:16px;

$red: $danger;
$green: $success;

$button-background-color: $brand-primary;
$button-background-color-hover: #367fa9;
$button-border-color: #2e6da4;
$link-hover-decoration: none;

$green: #39BA6E;
$green-light: #71c6ac;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #bdbdbd;
$grey-light: #e0e0e0;
$gray-600: #9e9e9e;
$beige: #dbbeb4;
$white: #ffffff;

// Body
$body-bg: $white;

$font-size-base: 1rem;
$line-height-base: 1.6;

$font-color: $body-color;

$colors: (
        "blue": $blue,
        "orange": $orange,
        "gray": $grey
);

$theme-colors: (
        "primary": $blue,
        "danger": $red,
        "success": $green
);

$html-font-size: 16px;
$navbar-light-bg-color: #E6F6F1;

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

$display-font-sizes: (
        1: toRem(50px),
        2: 4.5rem,
        3: 4rem,
        4: 3.5rem,
        5: 3rem,
        6: 2.5rem
);
