.socialSignIn {
  i {
    font-size: 50px;
  }
}

.socialSignInContainer {
  margin-top: 10px;
  .title {
    text-align: center;
    margin-bottom: 10px;
  }

  .fa-facebook-square {
    color: #3B5998;
  }

  .fa-twitter-square {
    color: #1DA1F2;
  }
}

.account-type-btn {
  padding: 50px 25px;
  img {
    max-width: 50px;
  }
  &.active-selection {
    background-color: #00a7d0;
  }
}

.form-wrapper {
  background-color: lightgray;
  padding: 25px;
  .welcome-msg {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
  }
  button[type="submit"] {
    margin-bottom: 25px;
  }
}

.auth-links {
  text-align: center;
}