
@import url("../../../public/vendor/adminlte/css/auth.css");
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

body,html {
  height:100% !important;
  font-family: 'Open Sans', sans-serif;
}

.login-box, .register-box
{
  padding-top:7%;
  margin-top:0;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  width:500px;
  max-width: 90%;
}

@media only screen and (max-width : 768px) {
  .login-box, .register-box {
    padding-top: 5%;
  }
}

.login-box-msg, .register-box-msg
{
  text-align: left;
  padding:0 0 20px 0px;
}
.socialSignIn {
  i {
    font-size: 50px;
  }
}

.form-wrapper, .socialSignInContainer,.auth-links,.reset{
  padding: 25px;
  padding-bottom: 0;
}


.socialSignInContainer {
  padding-top:0;
  .title {
    text-align: left;
    margin-top: 13px;
  }

  .fa-facebook-square {
    color: #3B5998;
  }

  .fa-twitter-square {
    color: #1DA1F2;
  }
}

.account-type-btn {
  padding: 50px 25px;
  img {
    max-width: 50px;
  }
  &.active-selection {
    background-color: #00a7d0;
  }
}


.form-wrapper {
  button[type="submit"] {
    margin-bottom: 25px;
  }
}

.auth-links {
  text-align: left;
}

.login-box-body, .register-box-body
{
  color:black;
  background-color:rgba(255,255,255,0.95);
  border-radius:10px;
  h1 {
    text-align:center;
    font-size:26px;
    padding-bottom:0;
  }
}