// Fonts
@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("../../../node_modules/icheck/skins/square/blue.css");
@import url("~jquery-toast-plugin/dist/jquery.toast.min.css");
@import url("~dropzone/dist/min/dropzone.min.css");
@import url("~bootstrap-sweetalert/dist/sweetalert.css");

@import "../../../node_modules/admin-lte/dist/css/AdminLTE.min.css";
@import '../../../node_modules/admin-lte/dist/css/skins/skin-blue.min.css';

@import "_variables.scss";
@import "select2-custom.scss";
@import '../../../node_modules/datatables.net-bs/css/dataTables.bootstrap.css';
@import '../../../node_modules/datatables.net-responsive-bs/css/responsive.bootstrap.min.css';
@import '../../../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css';
@import '../../../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead.css';
@import '../../../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css';

body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  //font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.background-page {
  background-size: 100%;
}

.btn-primary{
  background-color:$color-blue1;
  border:none;
}
.box.box-info{
  border-top-color:$color-blue2;
}
.main-header .logo {
  height: 53px;
}

.red {
  color: $brand-danger;
}

.mb {
  margin-bottom: 2rem !important;
}

.select2 {
  width: 100%;
}

table {
  tr {
    td.vertical-middle {
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width : 600px) {
  .main-header {
    display: inline-block;
    width: 100%;
    .logo {
      float: right;
      width: 50%;
      text-align: right;
    }

    .navbar {
      float: left;
      width: 50%;
    }
  }

  .content-header, .content, .main-footer {
    padding-left: 15px !important;
  }
}

@media only screen and (max-width : 768px) {
  #userEmail {
    margin-bottom: 20px;
  }

  .fb-share-button {
    margin-bottom: 20px;
  }

  .eu-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.eu-logo {
  img {
    width: 100%;
    max-width: 200px;
  }
}

.modal.loading {
  .modal-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-position: center center;

  }
}

.dropzone {
  border: 2px dashed #0087F7 !important;
  border-radius: 5px;
  background: white !important;
  font-size: 18px;
}

.warning-wrapper {
  font-size: small;
  background-color: lightgray;
  padding: 10px;
  b {
    display: block;
    i {
      &.fa-exclamation-triangle {
        color: $brand-danger;
      }
    }
  }
}

.margin-top {
  margin-top: 20px;
}

#searchBtn {
  width: 100%;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.logo-lg {
  img {
    margin-top: 10px;
  }
}

$header-height: 70px;
.main-header .logo {
  height: $header-height;
}

.main-header .navbar {
  min-height: $header-height;
}

.main-sidebar {
  padding-top: $header-height;
}

.main-header .sidebar-toggle, .navbar-nav > li > a {
  padding: 25px;
}

.navbar-brand {
  padding: 5px;
}

.logo-mini img{
  width:50px;
  margin-top:28px;
  margin-left:3px;
}
.user-header{
  display:none;
}
.skin-white {
  .wrapper,.main-sidebar ,.left-side{
    background-color:$bg-color-navbar;
  }
  .content-header,.content,.main-footer{
    padding-left:25px;
  }
  .content-header{
    background:transparent;
    padding-top:25px;
    padding-bottom:10px;
  }
  .content-wrapper:after{
    background-color:$body-bg;
    background-image:url(../images/active_participation.png);
    background-size:cover;
    filter: grayscale(100%);
    opacity:0.08;
    position:absolute;
    z-index: -1;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .content-wrapper{
    background-color:rgba(255,255,255,0.95);
    position:relative;
  }
  .main-header {
    .logo, .logo:hover {
      background-color: $header-background-color;
    }
    .navbar{
      background-color: $header-background-color;

      .sidebar-toggle,
      .sidebar-toggle:hover,
      .nav > li > a,
      .nav > li > a:hover
      .nav > li > a:focus
      {
        color:$header-font-color;
      }
    }

    .sidebar a{
      color:#b8c7ce;
      font-size:16px;
    }
  }
  .main-footer{
    font-size:12px;
  }
  .sidebar a{
    color:#b8c7ce;
  }
  .sidebar-menu  > li {
    a{
      font-size:16px;
    }

    .treeview-menu a{
      font-size:14px;
    }
  }
  .sidebar-menu > li > a{
    border-left: 3px solid transparent;
  }
  .sidebar-menu .active a {
    color:white;
    border-left-color:white;
  }
  .sidebar-menu > li:hover > a,
  .sidebar-menu > li.active > a,
  .sidebar-menu > li.menu-open > a{
    background-color:$bg-color-navbar;
  }

  &.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  &.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    width:250px;
  }

  .sidebar-menu > li.header{
    color:rgba($color-navbar-head,.6);
    background: #1a2226;
  }
}


.dropdown.user{
  span{
    text-transform: uppercase;
  }
}
.navbar-nav > .user-menu > .dropdown-menu{
  width:100%;
}

.fullHeight {
  height: 100%;
}

.progress-container {
  position: relative;
}

.align-center {
  text-align: center;
}

.staging-warning {

  background-color: #FFC107;

  p {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.dt-button {
  color: #fff !important;
  border-color: $button-border-color !important;
  background: $button-background-color none !important;
  display: inline-block !important;
  padding: 6px 12px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}

.dt-button:hover {
  background-color: $button-background-color-hover !important;
}

.questionnaire-disclaimer {
  padding: 10px 0;
  text-align: left;
  font-size: small;
  color: #9E9E9E;
}

.center {
  float: none;
  margin: 0 auto;
}

.sv_q.sv_qstn h5 span {
  display: inline-block;
  width: 100%;

  p:first-child {
    float: left;
    margin-right: 10px;
    color: #076ec1;
  }
}


.sv_container li {
  list-style-type: disc;
}


