@import "_variables.scss";
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";

// Fonts
@import "@fortawesome/fontawesome-free/css/all.css";
@import url("../../../node_modules/icheck/skins/square/blue.css");
@import url("jquery-toast-plugin/dist/jquery.toast.min.css");
@import "../../../node_modules/bootstrap-sweetalert/dist/sweetalert.css";

@import "sidebar";

html,
body {
	font-size: 14px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Open Sans", sans-serif;
}

@media print {
	.hidden-print {
		display: none;
	}
}

.fa.fa-twitter{
	font-family:sans-serif;
}
.fa.fa-twitter::before{
	content:"ð•";
	font-size:1.2em;
}

.fab.fa-twitter{
	font-family:sans-serif;
}
.fab.fa-twitter::before{
	content:"ð•";
	font-size:1.2em;
}

.fab.fa-twitter-square{
	font-family:sans-serif;
}
.fab.fa-twitter-square::before{
	content:"ð•";
}

.header-margin-top {
	.main-header {
		margin-top: 35px !important;
	}
}

.container.wide {
	width: 75%;
	max-width: 100%;

	@media (max-width: 575px) {
		width: 85%;
	}
}

.modal-lg {
	max-width: 1000px;
}

.background-page {
	background-size: cover;
	background-position: center;
}

.h-0 {
	height: 0;
}

.hidden {
	visibility: hidden;
}

.btn-primary {
	background-color: $brand-primary;
	border: none;
}

.card-info {
	border-top-color: $brand-primary;
}

.card-info:not(.card-outline) {
	.card-header {
		background-color: $brand-primary;
	}
}

.main-header {
	padding-left: 6%;
	padding-right: 6%;

	.logo {
		height: 53px;

		img {
			max-height: 50px;
		}
	}
}

.logged-in-env .main-header {
	padding-left: 35px;
}

.logged-in-env {
	.main-header,
	.content-wrapper,
	.main-footer {
		margin-left: 0 !important;

		.container-fluid {
			max-width: 1440px;
			margin: auto;
		}
	}
}

.logged-in-env.display-admin-menu {
	.main-header,
	.content-wrapper,
	.main-footer {
		margin-left: 250px !important;
	}
}

.red {
	color: $brand-danger;
}

.mb {
	margin-bottom: 2rem !important;
}

table {
	tr {
		td.vertical-middle {
			vertical-align: middle;
		}
	}
}

@media only screen and (max-width: 768px) {
	#userEmail {
		margin-bottom: 20px;
	}

	.fb-share-button {
		margin-bottom: 20px;
	}

	.eu-logo {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
	}
}

.eu-logo {
	img {
		width: 100%;
		max-width: 200px;
	}
}

.modal.loading {
	.modal-content:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		background-image: url(loading.gif);
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.warning-wrapper {
	font-size: small;
	background-color: lightgray;
	padding: 10px;

	b {
		display: block;

		i {
			&.fa-exclamation-triangle {
				color: $brand-danger;
			}
		}
	}
}

.margin-top {
	margin-top: 20px;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.logo-lg {
	img {
		margin-top: 10px;
	}
}

.logo-mini img {
	width: 50px;
	margin-top: 28px;
	margin-left: 3px;
}

.user-header {
	display: none;
}

.skin-white {
	.wrapper,
	.main-sidebar,
	.left-side {
		background-color: $bg-color-navbar;
	}

	.content-header {
		background: transparent;
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.content-wrapper:after {
		background-color: $body-bg;
		background-image: url(../images/active_participation.webp);
		background-size: cover;
		filter: grayscale(100%);
		opacity: 0.08;
		position: absolute;
		z-index: -1;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.content-wrapper {
		background-color: rgba(255, 255, 255, 0.95);
		position: relative;
	}

	.main-footer {
		font-size: 12px;
	}
}

.dropdown.user {
	span {
		text-transform: uppercase;
	}
}

.navbar-nav > .user-menu > .dropdown-menu {
	width: 100%;
}

.progress-container {
	position: relative;
}

.staging-warning {
	background-color: $yellow;

	h5 {
		color: $header-font-color;
		font-weight: bold;
		text-align: center;
	}
}

.questionnaire-disclaimer {
	padding: 10px 0;
	text-align: left;
	font-size: small;
	color: #9e9e9e;
}

.center {
	float: none;
	margin: 0 auto;
}

.sv_q.sv_qstn h5 span {
	display: inline-block;
	width: 100%;

	p:first-child {
		float: left;
		margin-right: 10px;
		color: #0077ff;
	}
}

.sv_container li {
	list-style-type: disc;
}

.dataTables_wrapper {
	.dataTables_length {
		.form-control.input-sm {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}

.card {
	.card-header {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0;
		}
	}
}

.navbar-expand {
	.navbar-nav {
		.nav-link {
			padding-left: 1.2rem;
			padding-right: 1.2rem;
		}
	}
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	font-weight: 600;
	padding-left: 3rem;
	font-size: 16px;
	text-transform: uppercase;
}

.modal-dialog {
	.modal-header {
		.close {
			font-size: 2rem;
		}
	}
}

footer {
	.row {
		a {
			color: #000000;
		}
	}
}

.color-picker {
	.input-group-addon {
		height: 33px;
		width: 33px;
		margin-left: 0.5rem;
		border: 0.5px solid #444444;
	}
}

.jq-toast-single {
	font-size: 16px;

	.close-jq-toast-single {
		font-size: 18px;
		top: 5px;
	}
}

.modal-overflow {
	/* Important part */
	.modal-dialog {
		overflow-y: initial !important;
	}

	.modal-body {
		height: 80vh;
		overflow-y: auto;
	}
}

.spinner-border {
	vertical-align: middle;
}

.jq-toast-wrap {
	z-index: 10000 !important;
}

.alert-dismissable.alert-floating {
	position: absolute;
	max-width: 50%;
	z-index: 100000;
	right: 25px;
	top: 25px;

	* {
		color: $white;
	}
}

.call-to-action {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 3px;
	background-color: $white;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.7em;
	color: $black;
	transition: all 0.2s;
	padding: toRem(12) toRem(30);
	width: 100%;

	&:hover {
		box-shadow:
			0 14px 28px rgba(0, 0, 0, 0.25),
			0 10px 10px rgba(0, 0, 0, 0.22);
	}
}

.call-to-action.action-dark {
	background-color: $brand-primary;
	color: $white;
}

.call-to-action.action-success {
	background-color: $success;
	color: $white;
}

.call-to-action.btn-primary.focus,
.call-to-action.btn-primary:focus,
.call-to-action.btn-primary:hover {
	background-color: $grey-light;
	color: $black;
	border-color: $grey;
}

#userListTable_info {
	display: none;
}

#usersList {
	nav {
		float: left;
	}

	#users-list-loader {
		margin-left: 25px;
		margin-top: 3px;
	}
}

.hidden {
	display: none;
}

a.link {
	color: $button-background-color;
	&:hover {
		color: $button-background-color-hover;
		cursor: pointer;
	}
}

.nav-item {
	.user-image {
		height: 35px;
		margin-right: 5px;
	}
}