@import "_variables.scss";
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";

// Fonts
@import "@fortawesome/fontawesome-free/css/all.css";
@import url("../../../node_modules/icheck/skins/square/blue.css");
@import url("jquery-toast-plugin/dist/jquery.toast.min.css");
@import "../../../node_modules/bootstrap-sweetalert/dist/sweetalert.css";

// Supports weights 100-900
@import "@fontsource-variable/noto-sans";

// Supports weights 300-800
@import "@fontsource-variable/open-sans";

@import "sidebar";

// import everything from the common folder
@import "common/button";
@import "common/card";
@import "common/modal";
@import "common/navbar";
@import "common/alert";
@import "common/social";
@import "common/footer";

:root {
  --clr-primary-white: #fdfffc;
  --clr-primary-black: #000000 ;
  --clr-secondary-light-grey: #e8e9eb;
  --clr-secondary-grey: #4d5359;
}

html,
body {
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Noto Sans Variable", sans-serif;
}

h1,h2,h3,.h1,.h2,.h3 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

p {
  font-family: "Open Sans Variable", sans-serif;
  font-weight: normal;
}

@media print {
  .hidden-print {
    display: none;
  }
}

.header-margin-top {
  .main-header {
    margin-top: 35px !important;
  }
}

.container.wide {
  width: 75%;
  max-width: 100%;

  @media (max-width: 575px) {
    width: 85%;
  }
}

.background-page {
  background-size: cover;
  background-position: center;
}

.h-0 {
  height: 0;
}

.hidden {
  visibility: hidden;
}

.main-header {
  padding-left: 6%;
  padding-right: 6%;

  .logo {
    height: 53px;

    img {
      max-height: 50px;
    }
  }
}

.red {
  color: $brand-danger;
}

.mb {
  margin-bottom: 2rem !important;
}

table {
  tr {
    td.vertical-middle {
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width: 768px) {
  #userEmail {
    margin-bottom: 20px;
  }

  .fb-share-button {
    margin-bottom: 20px;
  }

  .eu-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.eu-logo {
  img {
    width: 100%;
    max-width: 200px;
  }
}

.warning-wrapper {
  font-size: small;
  background-color: lightgray;
  padding: 10px;

  b {
    display: block;

    i {
      &.fa-exclamation-triangle {
        color: $brand-danger;
      }
    }
  }
}

.margin-top {
  margin-top: 20px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.logo-lg {
  img {
    margin-top: 10px;
  }
}

.logo-mini img {
  width: 50px;
  margin-top: 28px;
  margin-left: 3px;
}

.user-header {
  display: none;
}

.dropdown.user {
  span {
    text-transform: uppercase;
  }
}

.progress-container {
  position: relative;
}

.staging-warning {
  background-color: $yellow;

  h5 {
    color: $header-font-color;
    font-weight: bold;
    text-align: center;
  }
}

.questionnaire-disclaimer {
  padding: 10px 0;
  text-align: left;
  font-size: small;
  color: #9e9e9e;
}

.center {
  float: none;
  margin: 0 auto;
}

.sv_q.sv_qstn h5 span {
  display: inline-block;
  width: 100%;

  p:first-child {
    float: left;
    margin-right: 10px;
    color: #0077ff;
  }
}

.sv_container li {
  list-style-type: disc;
}

.dataTables_wrapper {
  .dataTables_length {
    .form-control.input-sm {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.color-picker {
  .input-group-addon {
    height: 33px;
    width: 33px;
    margin-left: 0.5rem;
    border: 0.5px solid #444444;
  }
}

.jq-toast-single {
  font-size: 16px;

  .close-jq-toast-single {
    font-size: 18px;
    top: 5px;
  }
}

.spinner-border {
  vertical-align: middle;
}

.jq-toast-wrap {
  z-index: 10000 !important;
}

#userListTable_info {
  display: none;
}

#usersList {
  nav {
    float: left;
  }

  #users-list-loader {
    margin-left: 25px;
    margin-top: 3px;
  }
}

.hidden {
  display: none;
}

a.link {
  color: $button-background-color;

  &:hover {
    color: $button-background-color-hover;
    cursor: pointer;
  }
}

.nav-item {
  .user-image {
    height: 35px;
    margin-right: 5px;
  }
}

.bg-clr-primary-white {
  background-color: var(--clr-primary-white);
}

.bg-clr-secondary-light-grey {
  background-color: var(--clr-secondary-light-grey);
}

.bg-image-noise {
  background-image: url("/images/problems/bg-noise-sample.png");
  background-repeat: repeat;
}

.project-layout {

  .btn.btn-primary.call-to-action {
    background-color: var(--project-primary-color);
    color: var(--btn-text-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  
    &:hover {
      box-shadow:
              0 4px 4px rgba(0, 0, 0, 0.25),
              0 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    &:focus,
    &:focus-visible {
      outline: 4px solid black;
      box-shadow:
              0 4px 4px rgba(0, 0, 0, 0.25),
              0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  
  .btn.btn-outline-primary.call-to-action {
    background-color: transparent;
    color: black;
    outline: 2px solid black;
    border: none;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  
    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active,
    &:focus,
    &:focus-visible {
      background-color: transparent !important;
      color: black;
      outline: 4px solid black;
      box-shadow:
              0 4px 4px rgba(0, 0, 0, 0.25),
              0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.userway_buttons_wrapper {
  // on mobile, add a margin top so that it does not collide with the burger menu
    @media (max-width: 768px) {
        margin-top: 80px;
    }
}