html, body {
  background-color: #fff;
  color: #616161;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
  background-color: #E0E0E0;
  opacity: 0.8;
  border-radius: 15px;
}

.code {
  font-size: 58px;
  padding: 20px;
}

.title {
  font-size: 36px;
  padding: 20px;
}

.error-container {
  height: 50vh;
}
