@import "../_variables.scss";

.alert-dismissable.alert-floating {
	position: absolute;
	z-index: 100000;
	right: 25px;
	top: 25px;
	max-width: 90%;

	h4 {
		margin: 0;
		padding: 10px 0;
	}

	* {
		color: $white;
	}
}
