@import "../variables.scss";

.card {
	.card-header {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0;
		}
	}
}

.card-info:not(.card-outline) {
	border-top: 0;
	.card-header {
		background-color: $brand-primary;
	}
}
