.modal-lg {
	max-width: 1000px;
}

.modal.loading {
	.modal-content:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		background-image: url(../loading.gif);
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.modal-overflow {
	/* Important part */
	.modal-dialog {
		overflow-y: initial !important;
	}

	.modal-body {
		height: 80vh;
		overflow-y: auto;
	}
}

.modal-dialog {
	.modal-header {
		.close {
			font-size: 2rem;
		}
	}
}
