@import "../problem/bootstrap_4point6_custom_xxl"; // this page uses custom styles to support one more bootstrap size: xxl from 1260px and UP
@import "../shared/image-input-preview";
@import "../_variables";

#propose-solution-page {
	.row.propose-solution-description {
		padding-bottom: 3.25rem;
	}

	#propose-solution-description-container {
		background: rgba(232, 233, 235, 1);
	}

	.section-title {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		font-family: "Noto Sans Variable", sans-serif;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 2.043125rem;
		text-align: left;
	}

	.section-body {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.section-body p {
		font-family: "Open Sans Variable", sans-serif;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.36375;
		text-align: left;
	}

	.go-back-link {
		display: inline-block;
	}
	.go-back-link a {
		display: inline-block;
		border-radius: 0.2rem;

		&:focus-visible {
			outline: 2px solid black;
		}
	}
	.go-back-link a i {
		font-size: 4rem;
		vertical-align: middle;
		padding-right: 0.3rem;
	}
	.go-back-link a span {
		font-family: "Noto Sans Variable", sans-serif;
		font-weight: 400;
		font-size: 1.714rem;
		line-height: 2.335rem;
		text-align: left;
		position: relative;
		top: 0.3rem;
		padding-right: 0.2rem;
	}

	section {
		p,
		h1,
		h2 {
			padding: unset;
		}
	}

	#propose-solution-form {
		padding-top: 5rem;

		.form-row {
			padding-top: 1rem;
			padding-bottom: 1rem;

			a {
				color: $brand-primary;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.solution-form-title {
			border-bottom: 1px solid rgba(0, 0, 0, 1);
		}
	}
}

// from "sm" and UP
@media (min-width: 576px) {
	#propose-solution-page {
		#propose-solution-overview,
		.row.propose-solution-description {
			// padding-bottom: 7.5rem;
		}

		.section-title {
			padding-left: 0;
			padding-right: 0;
			font-size: 2.286rem;
			line-height: 3.113rem;
		}

		.section-body {
			padding-left: 0;
			padding-right: 0;
		}

		.section-body p {
			font-size: 1.429rem;
			line-height: 1.949rem;
		}

		.image-preview-container {
			.selected-image-preview {
				max-height: 300px;
			}
		}
	}
}

// from "lg" and UP
@media (min-width: 992px) {
}

// from "xl" and UP
@media (min-width: 1200px) {
}

// from (custom breakpoint) "custom_xxl" and UP
@media (min-width: 1260px) {
}

// from "sm" and DOWN
@media (max-width: 767.98px) {
}

// from "md" and DOWN
@media (max-width: 991.98px) {
}

// from "lg" and DOWN
@media (max-width: 1199.98px) {
}

// from "xl" and DOWN
@media (max-width: 1259.98px) {
}
