@import "../problem/bootstrap_4point6_custom_xxl"; // this page uses custom styles to support one more bootstrap size: xxl from 1260px and UP

#propose-solution-page {
	#propose-solution-overview,
	.row.propose-solution-description {
		padding-bottom: 3.25rem;
	}

	.section-title {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		font-family: "Noto Sans Variable", sans-serif;
		font-weight: 600;
		font-size: 24px; // 24px // bookmark1 - calculate in rem
		line-height: 32.69px; // 32.69px // bookmark1 - calculate in rem
		text-align: left;
	}

	.section-body {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.section-body p {
		font-family: "Open Sans Variable", sans-serif;
		font-weight: 400;
		font-size: 16px; // 16px // bookmark1 - calculate in rem
		line-height: 21.82px; // 21.82px // bookmark1 - calculate in rem
		text-align: left;
	}
}
