ul {
  list-style-type: none;
  padding-left: 0;
}

h2 {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  border: none;
  box-shadow: 0 4px 4px 0 #00000040;
}

.highlighted {
  .card {
    border: 3px solid var(--project-primary-color);
  }
}

a.card-link {
  display: block;
  border-radius: 1rem;

  &:hover {
    color: unset;
  }

  &:focus-visible {
    border-radius: 1rem;
    outline: 4px solid black; // bookmark1 - calculate in rem
  }
}

.card {
  border-radius: 1rem;
  margin-bottom: 2rem;
  overflow: clip;
}

.card-placeholder-img-container {
  background-color: var(--clr-secondary-grey);
  padding-top: 2.9rem;
  padding-bottom: 2.2rem;
  height: 250px;

  svg {
    width: 100%;
    color: var(--clr-secondary-light-grey);
  }
}

.card-custom-img-container {
  background-color: var(--clr-secondary-grey);
  height: 250px;

  img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}

.card-body {
  background-color: var(--clr-secondary-light-grey);

  .card-title {
    font-family: "Noto Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 24px; // 24px // bookmark1 - calculate in rem
    line-height: 29.34px; // 29.34px // bookmark1 - calculate in rem
  }

  .card-text {
    font-family: "Open Sans Variable", sans-serif;
    font-weight: 400;
    font-size: 16px; // 16px // bookmark1 - calculate in rem
    line-height: 20.4px; // 20.4px // bookmark1 - calculate in rem
  }
}

.upvote-count {
  position: absolute;
  top: 1.6rem;
  left: 5.1rem;
  color: var(--project-primary-color);
  padding: 0 0.5rem;
  border-radius: 2rem;
  font-weight: 900;
}

// from "md" and UP
@media (min-width: 768px) {
  h2 {
    margin-top: 7.5rem;
  }
}

// from "xs" and DOWN
@media (max-width: 575.98px) {
  ul {
    display: block;
  }
  li {
    width: 22.8rem;
    margin: 0 auto;
  }
}

.floating-panel {
  position: fixed;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  /* desktop */
  @media (min-width: 768px) {
    max-width: 500px;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-bottom: 0.8rem;
  }

  p {
    margin: 0 10px 0 0;
  }

  button.main-btn {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--project-primary-color);
    color: var(--button-text-color-theme);

    &:hover {
      filter: brightness(.9);
    }
  }

  button.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 30px;
    height: 30px;
  }
}