@import "summernote/dist/summernote-bs4.css";
@import "bs-stepper/dist/css/bs-stepper.min.css";
@import "../variables";
@import "../shared/select2-custom";
@import "../shared/image-input-preview.scss";

.box {
	.row {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.card {
	.card-header {
		h2,
		h3,
		.fa,
		.fas {
			font-size: 1.2rem;
		}
	}
}

#form-error-message {
	color: $danger;
}

#communication-resources {
	table.content {
		display: block;
		text-align: center;

		tbody {
			display: inline-block;

			#intro_text,
			#outro_text {
				padding-top: 5px;
				padding-bottom: 5px;
				background-color: yellow;
			}
		}
	}
}
