@import "../variables";
$lightgray: #eeeeee;
$border-color: #d2d6de;
$sent-status-color: #aaa;

.cms-list-wrapper {
  text-align: center;
  .cms-block {
    position: relative;
    padding: 10px;
    border: 1px solid $border-color;
    width: 22%;
    margin: 0 1% 1%;
    text-align: center;
    filter: grayscale(100%);
    transition: all 1s;
    display: inline-block;
    .logo {
      padding-bottom: 10px;
      img {
        max-width: 90%;
        height: 60px;
      }
    }
    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .selected-cms {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      display: none;
      .fa-check-circle {
        position: relative;
        top: 30%;
        color: $brand-success;
        font-size: 40px;
      }
    }
    &:hover {
      filter: grayscale(0);
      background-color: $lightgray;
      cursor: pointer;
    }
    &.selected {
      filter: grayscale(0);
      .selected-cms {
        display: block;
      }
    }
    &.sent {
      background-color: $sent-status-color;
      .logo {
        filter: grayscale(100%);
      }
      .selected-cms {
        display: block;
        .fa-check-circle {
          color: lightgray;
        }
      }
      &:hover {
        filter: grayscale(100);
        cursor: unset;
      }
    }
  }
}