@import "../../variables";

.reports {
  .search-btn {
    margin-top: 30px;
  }

  #results {
    margin-top: 30px;
  }

  .colored {
    color: $blue;
  }

  .loader {
    text-align: center;
    margin-top: 50px;

    i {
      font-size: 50px;
    }
  }
}

.more-btn {
  margin-left: 5px;
}